ibuffer-projects
#
auto-save/
backups/
python-environments/
semanticdb/
various/
ido.last
*.elc
*~
packages/
tramp
diary
recentf
bookmarks
history
smex-items
savehist
org-clock-save.el
lastdir
session.*
ac-comphist.dat
minibuffer
.package-guard
.org-id-locations
desktop
custom.el
.emacs.desktop
.emacs.desktop.lock
cookies
custom.el-not-working
elpa/
projectile-bookmarks.eld
projectile.cache
projectile/
.python-environments/
.cache
org-gcal-secrets.el
javadoc-cache
server/
quote_of_the_day
elisp/n.el
