#
auto-save/
backups/
python-environments/
semanticdb/
various/
ido.last
*.elc
\.*
*~
packages/
custom.el
tramp
diary
recentf
bookmarks
history
smex-items
savehist
org-clock-save.el
lastdir
session.*
ac-comphist.dat

